services:
  app:
    image: ghcr.io/myrotvorets/codespaces/psb-api-microservice-node:latest@sha256:840001632b8955c95235987db968051e99bcbb2747344a3112980f9054daa384
    depends_on:
      - otel-collector
      - jaeger
      - grafana
    environment:
      - NODE_ENV=development
      - NO_UPDATE_NOTIFIER=true
      - NPM_CONFIG_FUND=0
      - SUPPRESS_SUPPORT=1
      - HTTPS=0
      - PORT=3000
      - OTEL_TRACES_EXPORTER=otlp
      - OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
      - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
      - OTEL_EXPORTER_OTLP_INSECURE=true
      - OTEL_EXPORTER_OTLP_HEADERS=Authorization=basic b3RlbDpvdGVs
      - MYSQL_DATABASE=myrotvorets
      - MYSQL_USER=myro
      - MYSQL_PASSWORD=pass
      - MYSQL_HOST=mariadb
      - npm_config_userconfig=/usr/src/service/.npmrc.local
      - PHOTOS_BASE_URL=https://cdn.myrotvorets.center/m/
    restart: always
    volumes:
      - "../:/usr/src/service"
    working_dir: /usr/src/service

  mariadb:
    image: mariadb:12@sha256:b1cb255a9939d28a1856815f0de6046c20c28c21b92a9f2696bc782b247a47ee
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_ROOT_HOST=%
      - MYSQL_DATABASE=myrotvorets
      - MYSQL_USER=myro
      - MYSQL_PASSWORD=pass
    restart: always
    volumes:
      - mysqldata:/var/lib/mysql

  adminer:
    image: adminer:latest@sha256:f379f91c9bdb207eef5103fed3760a2b6c119186a3e8b99d9cf51d0364d53ff4
    environment:
      - ADMINER_DEFAULT_SERVER=mariadb
    restart: always

  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.144.0@sha256:213886eb6407af91b87fa47551c3632be1a6419ff3a5114ef1e6fc364628496f
    command:
      - "--config=/etc/otel-collector-config.yaml"
    depends_on:
      - victoriametrics
      - jaeger
      - loki
    restart: always
    volumes:
      - ./.docker/otel-collector/otel-collector-config.yaml:/etc/otel-collector-config.yaml

  jaeger:
    image: ghcr.io/myrotvorets/codespaces/jaeger:latest@sha256:1823b417a23f9bbb23c3698e9c150ecd2df0e720737a67c19069c7175eb05982
    restart: always
    volumes:
      - jaegerdata:/badger

  victoriametrics:
    image: victoriametrics/victoria-metrics:v1.134.0@sha256:109e2cd00a877005397303a48bed1b5e68b0b524118ab5128cf4914d8e144a6b
    command:
      - "--storageDataPath=/storage"
      - "--httpListenAddr=:8428"
    restart: always
    volumes:
      - vmdata:/storage

  loki:
    image: grafana/loki:3.6.7@sha256:3c8fd3570dd9219951a60d3f919c7f31923d10baee578b77bc26c4a0b32d092d
    command:
      - "-config.file=/etc/loki/local-config.yaml"
    restart: always

  grafana:
    image: grafana/grafana:12.3.3@sha256:9e1e77ade304069aee3196e9a4f210830e96e80ce9a2640891eccc324b152faf
    depends_on:
      - victoriametrics
      - loki
    restart: always
    volumes:
      - grafanadata:/var/lib/grafana
      - ./.docker/grafana/provisioning/:/etc/grafana/provisioning/
      - ./.docker/grafana/dashboards/photos.json:/var/lib/grafana/dashboards/photos.json

  swagger:
    image: swaggerapi/swagger-ui:v5.31.0@sha256:080804ac62c9d5d358662cc6f0db96ba0be76af7af393014a1a1305d967298cc
    environment:
      - SWAGGER_JSON_URL=/specs/photos.yaml
      - BASE_URL=/swagger
      - DISPLAY_REQUEST_DURATION=true
      - DEFAULT_MODELS_EXPAND_DEPTH=100
      - DEFAULT_MODEL_EXPAND_DEPTH=100
      - DEEP_LINKING=true
      - VALIDATOR_URL=none

volumes:
  grafanadata:
  jaegerdata:
  mysqldata:
  vmdata:
